* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  text-decoration: none;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  perspective: 800px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 0 8%;
  height: 145px;
  width: 100%;
  z-index: 100;
}

.nav-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.nav-btn {
  position: relative;
  z-index: 100;
  display: none;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  margin-bottom: 50px;
}

.nav-bgr {
  position: relative;
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.5s ease;
}

.nav-bgr::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.nav-bgr::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.nav-btn-active .nav-bgr {
  height: 0;
  transition: none;
}
.nav-btn-active .nav-bgr::after {
  background-color: #000;
  top: 0;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.nav-btn-active .nav-bgr::before {
  background-color: #000;
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.logo-img {
  height: 75px;
}

.nav-item {
  text-transform: uppercase;
  font-weight: 500;
}

.back-vid {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
}

main {
  background: rgba(0, 0, 0, 0.4117647059);
  overflow: hidden;
}

#page-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  overflow: hidden;
}

.primary-head {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 250px;
  font-size: 100px;
  font-weight: 900;
  position: relative;
}

.primary-head::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  top: -5px;
  left: -5px;
  color: #000;
  z-index: -1;
  -webkit-text-stroke: 2px #95c11e;
}

.secondary-head {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
}

.intro-para {
  font-size: 22px;
  font-weight: 500;
  width: 45%;
}

#page-2 {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  z-index: 10;
}

.scroll-text {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll-text::-webkit-scrollbar {
  display: none;
}

.scroll-line {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.scroll-line a {
  display: inline-block;
  margin: 10px;
  font-size: 120px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}
.scroll-line a:hover {
  color: #95c11e;
  transition: all linear 0.5s;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-us {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about-us img {
  width: 140px;
  height: 140px;
  border-radius: 8%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us-info {
  width: 50%;
  padding-bottom: 30px;
  text-align: center;
}

.about-us-head {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 900;
}

.about-us-para {
  font-size: 24px;
  line-height: 40px;
}

.tilt-cards {
  position: relative;
  width: 87%;
  margin-left: 6%;
  margin-right: 11%;
  margin-top: 50px;
  padding: 0 15px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.tilt-cards .dotted-img {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.cards {
  position: relative;
  width: 30%;
  height: 85vh;
  border-radius: 4%;
  z-index: 9;
  overflow: hidden;
}

#card1 {
  background-size: cover;
  background-position: center;
}

#card2 {
  background-size: cover;
  background-position: center;
}

#card3 {
  background-size: cover;
  background-position: center;
}

.img-eff {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-in {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10%;
  background: #95c11e;
  opacity: 0;
  z-index: 11;
}

.card-in-head {
  color: #000;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-in-para {
  padding-bottom: 50px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.tilt-cards:hover .cards {
  transform: rotate3d(1, 1, 0, 10deg);
  transition: all 0.7s ease;
}

.cards:hover {
  transform: rotate3d(-1, 1, 0, 12.5deg) !important;
  transition: all 0.7s ease;
}
.cards:hover .img-eff {
  scale: 1.1;
  transition: all 0.7s ease;
}
.cards:hover .card-in {
  opacity: 1;
  transition: all 0.7s ease;
}

.green-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 40vh;
  background: linear-gradient(to left bottom, #469a06, #ace022);
  overflow: hidden;
}
.green-sec img {
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.green-sec-info {
  width: 50%;
}

.green-sec-para {
  color: #000;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
}

.fnd-sec {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 75vh;
  width: 100%;
  margin: 0;
  margin-top: 60px;
  padding: 0 40px;
}
.fnd-sec .dooted-img {
  position: absolute;
  bottom: 0;
  left: 5.25%;
  width: 180px;
}

.fnd-eff-container {
  position: relative;
  height: 100%;
  width: 44%;
  z-index: 11;
}

.fnd-img-container {
  position: relative;
  height: 90%;
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
}

.fnd-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: all 1s linear;
}

.fnd-img-active {
  opacity: 1;
}

.fnd-btn-set {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.fnd-btn-bdr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  padding: 10px;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-radius: 100%;
}

.fnd-btn-active {
  border-color: #95c11e;
  transition: all 1s linear;
}
.fnd-btn-active .fnd-btn {
  background-color: #95c11e;
  transition: all 1s linear;
}

.fnd-btn {
  border: none;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 100%;
}

.fnd-info {
  height: 90%;
  width: 40%;
}

.fnd-head {
  font-size: 60px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 40px;
}

.fnd-para {
  margin-bottom: 35px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}

.coffee-btn {
  margin-top: 80px;
  padding: 14px 35px;
  border: 3px solid #95c11e;
  border-radius: 30px;
  background: #000;
  font-size: 17px;
  font-weight: 200;
  text-transform: uppercase;
}

.coffee-btn:hover {
  background: #95c11e;
  color: #fff;
  font-weight: 100;
  scale: 0.8;
  transition: all 0.5s ease;
}

.insta-sec {
  position: relative;
  margin-top: 20vh;
  margin-bottom: 20vh;
  min-width: 100%;
  height: 30vh;
  transform: rotateZ(-3deg);
}

.insta-slide {
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.img-link {
  margin: 0 8px;
}

.insta-img {
  height: 25vh;
  border-radius: 5px;
}

.insta-link {
  position: absolute;
  left: 65%;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  gap: 8px;
  align-items: center;
}

.insta-link i:hover {
  color: #95c11e;
  transition: all 1s ease;
}

.insta-line:hover {
  color: #95c11e;
  transition: all 1s ease;
}

.quote-sec {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  width: 80%;
  height: 65vh;
}

.up-quote {
  position: absolute;
  left: 0;
  top: 0;
}

.down-quote {
  position: absolute;
  right: 0;
  bottom: 0;
}

.quote-list {
  position: relative;
  width: 90%;
  margin-top: 120px;
}

.quote {
  position: absolute;
  text-align: center;
  font-size: 35px;
  line-height: 50px;
  font-weight: 800;
  opacity: 0;
}

.quote-active {
  opacity: 1;
  transition: all 1s ease;
}

.quote-img {
  width: 80px;
}

#cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background: #95c11e;
  border-radius: 50%;
  z-index: 100;
}

#cursor-back {
  position: fixed;
  width: 400px;
  height: 400px;
  background: #95c11e;
  border-radius: 50%;
  z-index: 9;
  opacity: 0.35;
  filter: blur(40px);
}

.last-sec {
  position: relative;
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.last-head-text {
  position: absolute;
  top: 5%;
  font-size: 60px;
  font-weight: 900;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-width: 80%;
}

.last-sec-item {
  position: relative;
  width: 26%;
  height: 23vh;
  overflow: hidden;
  border-radius: 20px;
}
.last-sec-item img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.1;
  transition: all 0.5s ease;
}

.last-sec-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #95c11e;
  transition: all 0.5s ease;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
}

.last-sec-item:hover img {
  scale: 1;
}
.last-sec-item:hover .last-sec-text {
  background-color: transparent;
  color: #fff;
}

.footer {
  padding-top: 10vh;
  position: relative;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to left bottom, #469a06, #ace022);
}
.footer .dooted-img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50vh;
  z-index: 9;
}
.footer a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.footer-sec-1 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 35vh;
}

.logo-n-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  height: 100%;
  z-index: 11;
}

.icon-list {
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.icon-list i {
  color: #000;
  font-size: 1.5rem;
}
.icon-list i:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.link-list-1, .link-list-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 21vh;
  z-index: 11;
}

.ft-link {
  font-size: 40px;
  font-weight: 900;
  color: #000;
}

.adderss-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23vh;
  z-index: 11;
}

.adderss-line {
  color: #000;
}

.p-no {
  color: #000;
}

.adderss-link {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.footer-sec-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.help-link, .web-link {
  color: #000;
  font-size: 18px;
}

@media (max-width: 1025px) {
  .nav-responsive {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: #95c11e;
    transform: translateY(-100%);
    transition: all 0.5s ease;
  }
  .primary-head {
    font-size: 75px;
    margin-top: 145px;
  }
  .secondary-text {
    font-size: 19px;
  }
  .intro-para {
    font-size: 17px;
    width: 70%;
  }
  .nav-res-active {
    transform: translateY(0);
  }
  .nav-res-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    height: 350px;
  }
  .nav-res-list a {
    font-size: 22.5px;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    transition: all 0.5s ease;
  }
  .nav-res-list .a-eff {
    top: 0;
    opacity: 1;
  }
  nav {
    justify-content: space-between;
    padding: 0 4%;
  }
  .nav-btn {
    display: flex;
  }
  .nav-list {
    display: none;
  }
  .scroll-line a {
    font-size: 80px;
  }
  .about-us {
    flex-wrap: wrap;
    gap: 20px;
  }
  .about-us img {
    width: 45%;
    height: auto;
  }
  .about-us-info {
    order: 3;
    width: 80%;
  }
  .about-us-head {
    font-size: 30px;
  }
  .about-us-para {
    font-size: 18px;
  }
  .card-in-head {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .green-sec {
    height: 25vh;
  }
  .green-sec-para {
    font-size: 25px;
    line-height: 36px;
  }
  .fnd-sec {
    flex-direction: column;
    height: 120vh;
  }
  .fnd-sec .dooted-img {
    bottom: 40%;
  }
  .fnd-eff-container {
    width: 90%;
  }
  .fnd-info {
    height: 50%;
    width: 90%;
  }
  .fnd-head {
    font-size: 40px;
  }
  .fnd-para {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
  }
  .tilt-cards {
    flex-direction: column;
  }
  .cards {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }
  .insta-link {
    left: 40%;
  }
  .insta-link i {
    font-size: 18px;
  }
  .insta-line {
    font-size: 18px;
  }
  .quote-sec {
    height: 45vh;
  }
  .quote {
    font-size: 25px;
    line-height: 37px;
  }
  .quote-img {
    width: 50px;
  }
  .quote-list {
    margin-top: 12vh;
  }
  .last-sec {
    flex-direction: column;
  }
  .last-head-text {
    font-size: 40px;
    top: -6%;
  }
  .last-sec-item {
    width: 80%;
  }
  .footer {
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    gap: 10px;
  }
  .footer .logo-img {
    display: block;
  }
  .footer-sec-1 {
    flex-direction: column;
    gap: 20px;
  }
  .ft-link {
    font-size: 25px;
  }
  .footer-sec-2 {
    flex-wrap: wrap;
  }
  .help-link, .web-link {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .logo-img {
    width: 70px;
  }
  .primary-head {
    margin-top: 100px;
    font-size: 50px;
  }
  .secondary-text {
    font-size: 16px;
  }
  .intro-para {
    font-size: 14px;
    width: 75%;
  }
}
@media (max-width: 700px) {
  .last-head-text {
    top: -4%;
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .green-sec {
    height: 20vh;
  }
  .green-sec img {
    width: 20%;
  }
  .green-sec-para {
    font-size: 15px;
    line-height: 18px;
  }
  .quote-list {
    margin-top: 8vh;
  }
  .last-head-text {
    top: -3%;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */