@import 'config';

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-decoration: none;
}

body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    perspective: 800px;
}

@import 'nav';
@import 'main';


#cursor {
    position:fixed;
    width: 15px;
    height: 15px;
    background: $primary-green;
    border-radius: 50%;
    z-index: 100;
}

#cursor-back {
    position: fixed;
    width: 400px;
    height: 400px;
    background: $primary-green;
    border-radius: 50%;
    z-index: 9;
    opacity: 0.35;
    filter: blur(40px);
}

@import 'last-sec';
@import 'footer';
@import 'responsive';